---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Adrian Harris</h1>
			<h2>Software Engineer</h2>
			<h4>Backend & Full-Stack Development</h4>
			<p>
				I help high-traffic platforms stay fast, reliable, and
				user-friendly.
			</p>
			<p>A growing list of technologies I've been able to use:</p>
			<ul>
				<li>Java, Python, Kotlin, Spring</li>
				<li>PostgreSQL, OracleSQL, Couchbase, AWS Athena</li>
				<li>AWS, Azure, Kubernetes, Docker DevOps</li>
				<li>Jenkins, Docker Compose, Quantum Metric</li>
			</ul>

			<h4>Experience</h4>
			
			<h5>Darden - Programmer Analyst II</h5>
				<ul>
					<li>Diagnosed and resolved critical production issues</li>
					<li>Leveraged Quantum Metric to optimize user experience</li>
					<li>Managed day-to-day software support issues</li>
				</ul>
			
			<h5>Accesso - Junior Software Engineer</h5>
				<ul>
				<li>Developed backend microservices in Java & Kotlin</li>
				<li>Optimized PostgreSQL and Couchbase queries</li>
				<li>Tuned Kubernetes clusters to handle peak loads</li>
				<li>Managed AWS-hosted Multi-tenant Mobile App Platform</li>
				</ul>			
		</main>
		<Footer />
	</body>
</html>
